fastapi
uvicorn
scikit-learn
pandas
google-cloud-storage
google-cloud-bigquery
db-dtypes
fsspec
gcsfs
matplotlib
prometheus-fastapi-instrumentator
prometheus-client
numpy
seaborn
joblib
ucimlrepo
mlflow