apiVersion: batch/v1
kind: Job
metadata:
  name: ${JOB_NAME}
spec:
  completions: 2
  parallelism: 2
  completionMode: Indexed
  ttlSecondsAfterFinished: 600
  template:
    spec:
      serviceAccountName: mlops-trainer
      containers:
      - name: trainer
        image: ${IMAGE}
        command: ["/bin/sh", "-c"]
        # Logic: Switch model based on Index (0=LogReg, 1=RandForest)
        args:
          - |
            if [ "$JOB_COMPLETION_INDEX" -eq 0 ]; then
              MODEL_TYPE="logistic_regression"
            else
              MODEL_TYPE="random_forest"
            fi
            
            echo "Running Pod Index: $JOB_COMPLETION_INDEX with Model: $MODEL_TYPE"
            
            python src/train.py \
              --model-dir=gs://${BUCKET_NAME} \
              --mode=${MODE} \
              --pr-number=${PR_NUMBER} \
              --model-type=$MODEL_TYPE
      restartPolicy: Never