name: MLOps Pipeline

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

env:
  REGION: us-central1
  REPOSITORY: mlops-repo
  TRAINER_IMAGE: heart-trainer
  BUCKET_NAME: mlops-final-001-mlops-artifacts
  CLUSTER_NAME: mlops-cluster
  ZONE: us-central1-a

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      should_build: ${{ steps.filter.outputs.build }}
    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            build:
              - 'src/**'
              - 'data/**'
              - 'Dockerfile.train'
              - 'Dockerfile.serve'
              - 'requirements.txt'

  build-train-deploy:
    needs: changes
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Debug secrets presence
    - name: Debug secrets
      run: |
        echo "PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}"
        echo "SA_EMAIL: ${{ secrets.GCP_SA_EMAIL }}"
        echo "WIF_PROVIDER: ${{ secrets.GCP_WIF_PROVIDER }}"

    # Authenticate using Workload Identity
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
        service_account: ${{ secrets.GCP_SA_EMAIL }}

    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v2

    - name: Configure Docker
      run: gcloud auth configure-docker $REGION-docker.pkg.dev

    # Build & Push Training Image
    - name: Build & Push Trainer Image
      if: needs.changes.outputs.should_build == 'true'
      run: |
        docker build -f Dockerfile.train -t $REGION-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/$REPOSITORY/$TRAINER_IMAGE:latest .
        docker push $REGION-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/$REPOSITORY/$TRAINER_IMAGE:latest

    # Get GKE credentials
    - name: Get GKE credentials
      run: |
        gcloud container clusters get-credentials $CLUSTER_NAME --zone $ZONE --project ${{ secrets.GCP_PROJECT_ID }}

    - name: Install GKE auth plugin
      run: |
        gcloud components install gke-gcloud-auth-plugin --quiet

    # Trigger Training Job on GKE
    - name: Run training job
      run: |
        kubectl apply -f k8s/training-job.yaml

    # Wait for job to finish
    - name: Wait for training job
      run: |
        kubectl wait --for=condition=complete job/heart-model-training --timeout=10m

    # Download trained model
    - name: Download model
      run: |
        mkdir -p models
        gsutil cp gs://$BUCKET_NAME/latest/model.pkl models/model.pkl

    # Build & Push Serving Image
    - name: Build & Push API Image
      run: |
        docker build -f Dockerfile.serve -t $REGION-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/$REPOSITORY/heart-api:latest .
        docker push $REGION-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/$REPOSITORY/heart-api:latest

    # Deploy to GKE
    - name: Deploy API
      run: |
        kubectl apply -f k8s/
