name: MLOps CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci-pipeline:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Automated Tests
        run: |
          python -m pytest tests/test_api.py

      - name: Build Training Docker Image
        run: |
          docker build -f Dockerfile.train -t heart-trainer .

      - name: Build Serving Docker Image
        run: |
          docker build -f Dockerfile.serve -t heart-api .
